.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
  margin: 56px auto 0;
}

@media screen and (max-width: 1279px) {
  .page {
    max-width: 928px;
    margin: 48px auto 0;
  }
}

@media screen and (max-width: 1023px) {
  .page {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    max-width: 320px;
  }
}
