.gallery__item {
  width: 284px;
  height: 213px;
  justify-self: stretch;
}

@media screen and (max-width: 1279px) {
  .gallery__item {
    width: 300px;
    height: 225px;
  }
}

@media screen and (max-width: 1023px) {
  .gallery__item {
    width: 352px;
    height: 264px;
  }
}

@media screen and (max-width: 767px) {
  .gallery__item {
    width: 288px;
    height: 216px;
  }
}
