.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #ffffff;
  display: flex;
  max-width: 720px;
  margin: 0 auto 0;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }
}
