.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 984px;
  margin: 92px auto 0;
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: 88px 0 0 0;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin: 64px 0 0 16px;
  }
}
