.cover__overlay {
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0;
}

.cover__overlay::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
}

.cover__overlay:hover::after {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    max-width: 320px;
    min-height: 200px;
  }
}
