.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: minmax(76px, auto) 460px;
  grid-column-gap: 48px;
  grid-row-gap: 40px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-row-gap: 32px;
    grid-template-columns: 440px 456px;
    grid-template-rows: minmax(76px, auto) 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-row-gap: 28px;
    grid-template-columns: 340px 352px;
    grid-template-rows: minmax(76px, auto) minmax(340px, auto);
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 320px;
    grid-row-gap: 32px;
    grid-template-rows: minmax(46px, auto);
  }
}
